//output:Recipe.html, pretty:true
doctype
html
  head
    meta(charset="utf-8")
    html(lang="en-uk")
    meta(name="Author", content="Jay Dantara")
    meta(name="copyright", content="Kha.media")
    link(rel="stylesheet", href="recipe.css")
  body
    header
      nav
        ul#navbar
          li.navbar 
            a.navbar(href="#") Home
          li.navbar 
            a.navbar(href="#") About Us
          li.navbar 
            a.navbar(href="#") Products
          li.navbar 
            a.navbar(href="#Recipes") Try These
          li.navbar 
            a.navbar(href="#") Chefs
          li.navbar 
            a.navbar(href="#") Your Favs
          li.navbar 
            a.navbar(href="#") Contact
    section#Recipes
      h2 Recipes
        h3#Sandwiches
          h4#sandwich1 Sandwich1
            h5.Ingredients Ingredients
              table#S1I
                tr
                  th(scope="col") Sr.No.
                  th(scope="col") Ingredient Name
                  th(scope="col") Quantity
                tr
                  td 1
                  td Potato
                  td 2 pcs
                tr
                  td 2
                  td Onion
                  td 1/2 pc
                tr
                  td 3
                  td Lemon Juice
                  td 1 tsp
                  
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#sandwich2 Sandwich2
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#sandwich3 Sandwich3
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#sandwich4 Sandwich4
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#sandwich5 Sandwich5
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
        h3#Salads
          h4#Salad1 Salad1
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#Salad2 Salad2
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#Salad3 Salad3
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#Salad4 Salad4
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
          h4#Salad5 Salad5
            h5.Ingredients Ingredients
            h5.Equipment Equipment
            h5.Preparation Preparation
            h5.Method Method
  
          
